[Unit]
Description=Launch ROS driver for Freenove 4WD car
After=network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/ros2_ws
ExecStart=/bin/bash -c "./src/freenove_4wd_ros/systemd/run_driver.sh"
Restart=on-failure

[Install]
WantedBy=multi-user.target